@{
    Audio mostLikedAudio = ViewBag.mostLikedAudio;
}

<div class="container">
    
    <div class="row d-flex justify-content-center">

        <div class="col-8 text-center d-flex flex-column">

            @* seach form *@
            <form asp-action="Search" method="get" class="position-relative" style="margin-top: 20vh;">
                <div class="input-group">

                    <input type="text" class="form-control" placeholder="Search Audio" style="height: 8vh;" />

                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" 
                        style="background-color: #6e57f6;height: 8vh;">Search</button>
                    </div>

                </div>
            </form>

            @* top track *@
            <div>

            </div>

            @* track list *@
            <div>
                <img src="/img/home-decor.png" class="w-100" />


            </div>

        </div>

    </div>

</div>
